<a href="https://colab.research.google.com/github/rhrjobdi/AI-4-Jobs/blob/main/Self_Learning_Container.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Mencetak Dictionary

In [ ]:
Data = [{"NIK" : "1990022", "Nama" : "Herman", "Jenis Kelamin" : "L", "Alamat" : "Tanggerang", "Divisi" : "Machinery", "Jabatan" : "Manager", "Gaji Pokok" : "10000000"},
        {"NIK" : "2001077", "Nama" : "Badar", "Jenis Kelamin" : "L", "Alamat" : "Bekasi", "Divisi" : "", "Jabatan" : "", "Gaji Pokok" : "7500000"},
        {"NIK" : "2002019", "Nama" : "Clara", "Jenis Kelamin" : "P", "Alamat" : "Depok", "Divisi" : "Compresor", "Jabatan" : "Staff", "Gaji Pokok" : "7000000"},
        {"NIK" : "2002081", "Nama" : "Rista", "Jenis Kelamin" : "P", "Alamat" : "Bekasi", "Divisi" : "QC", "Jabatan" : "Staff", "Gaji Pokok" : "6500000"},
        {"NIK" : "2005099", "Nama" : "Riani", "Jenis Kelamin" : "P", "Alamat" : "Bekasi", "Divisi" : "QC", "Jabatan" : "Operator", "Gaji Pokok" : "6000000"},
        {"NIK" : "2006003", "Nama" : "Afif", "Jenis Kelamin" : "L", "Alamat" : "Karawang", "Divisi" : "Compessor", "Jabatan" : "Operator", "Gaji Pokok" : "5500000"},
        {"NIK" : "2006104", "Nama" : "Riven", "Jenis Kelamin" : "L", "Alamat" : "Tanggerang", "Divisi" : "Compessor", "Jabatan" : "Operator", "Gaji Pokok" : "5500000"},
        {"NIK" : "2008160", "Nama" : "Endah", "Jenis Kelamin" : "P", "Alamat" : "Jakarta", "Divisi" : "Machinery", "Jabatan" : "Operator", "Gaji Pokok" : "5000000"},]
print(Data)

[{'NIK': '1990022', 'Nama': 'Herman', 'Jenis Kelamin': 'L', 'Alamat': 'Tanggerang', 'Divisi': 'Machinery', 'Jabatan': 'Manager', 'Gaji Pokok': '10000000'}, {'NIK': '2001077', 'Nama': 'Badar', 'Jenis Kelamin': 'L', 'Alamat': 'Bekasi', 'Divisi': '', 'Jabatan': '', 'Gaji Pokok': '7500000'}, {'NIK': '2002019', 'Nama': 'Clara', 'Jenis Kelamin': 'P', 'Alamat': 'Depok', 'Divisi': 'Compresor', 'Jabatan': 'Staff', 'Gaji Pokok': '7000000'}, {'NIK': '2002081', 'Nama': 'Rista', 'Jenis Kelamin': 'P', 'Alamat': 'Bekasi', 'Divisi': 'QC', 'Jabatan': 'Staff', 'Gaji Pokok': '6500000'}, {'NIK': '2005099', 'Nama': 'Riani', 'Jenis Kelamin': 'P', 'Alamat': 'Bekasi', 'Divisi': 'QC', 'Jabatan': 'Operator', 'Gaji Pokok': '6000000'}, {'NIK': '2006003', 'Nama': 'Afif', 'Jenis Kelamin': 'L', 'Alamat': 'Karawang', 'Divisi': 'Compessor', 'Jabatan': 'Operator', 'Gaji Pokok': '5500000'}, {'NIK': '2006104', 'Nama': 'Riven', 'Jenis Kelamin': 'L', 'Alamat': 'Tanggerang', 'Divisi': 'Compessor', 'Jabatan': 'Operator', 'Gaji Pokok': '5500000'}, {'NIK': '2008160', 'Nama': 'Endah', 'Jenis Kelamin': 'P', 'Alamat': 'Jakarta', 'Divisi': 'Machinery', 'Jabatan': 'Operator', 'Gaji Pokok': '5000000'}]

Slicing

In [ ]:
import numpy as np
A = np.array([[1,2], 
              [4,5], 
              [7,8]])
print(A[2])

[7 8]

In [ ]:
import numpy as np
B = np.array([[1,6,9],
             [2,5,8]])
print(B[0,1], B[1,1])

6 5

In [ ]:
import numpy as np
C = np.array ([[4,3,8],
              [7,2,5],
              [6,1,9]])
print('a.', C[1,1], C[2,1])
D = np.array([[4,3,8],
             [7,2,5],
              [6,1,9]])
print('b.', D[0,1], D[0,2])

a. 2 1
b. 3 8

In [ ]:
import numpy as np
E = np.array([[23,35,93,87],
             [92,44,11,83],
             [40,12,46,28],
             [73,65,65,32]])
print('a.', E[1,1], E[1,2], E[1,3])
F = np.array([[23,35,93,87],
              [2,44,11,83],
              [40,12,46,28],
              [73,67,65,32]])
print('b.', F[2,1], F[2,2],
      F[3,1], F[3,2])
i = np.array([[23,35,93,87],
              [92,44,11,83],
              [40,12,46,28],
              [73,67,65,32]])
print('c.', i[1,1], i[1,2], i[1,3],
      i[2,1], i[2,2], i[2,3],
      i[3,1], i[3,2], i[3,3])

j = np.array([[23,35,93,87],
              [92,44,11,83],
              [40,12,46,28],
              [73,67,65,32]])
print('d.', j[-3,0], j[1,1],
      j[-2,0], j[-2,-3])
k = np.array([[23,35,93,87],
              [92,44,11,83],
              [40,12,46,28],
              [73,67,65,32]])
print('e.', k[0,0], k[0,1], k[0,2],
     k[-3,0], k[1,1], k[1,2])
p = np.array([[23,35,93,87],
              [92,44,11,83],
              [40,12,46,28],
              [73,67,65,32]])
print('f.', p[1,1], p[-2,-3], p[3,1])

a. 44 11 83
b. 12 46 67 65
c. 44 11 83 12 46 28 67 65 32
d. 92 44 40 12
e. 23 35 93 92 44 11
f. 44 12 67